<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">

    <test verbose="3" preserve-order="true" name="tests for Login">
    <parameter name="platforms" value="web"/>
        <classes>
            <class name="test.loginPageTest.LoginTest">
                <methods>
                    <include name="checkLogin"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="3" preserve-order="true" name="tests for web">
        <parameter name="platforms" value="web"/>
        <classes>

            <class name="test.mainPageTest.FilmTicketsTest">
                <methods>
                    <include name="checkScrollTickets"/>
                    <include name="checkRegexFilmTickets"/>
                    <include name="checkHeaderFilmTicketsBlock"/>
                    <include name="checkLabelTickets"/>
                </methods>
            </class>

            <class name="test.mainPageTest.NewTrailerTest">
                <methods>
                    <include name="checkScroll"/>
                    <include name="checkRegexNewTrailer"/>
                    <include name="checkHeaderNewTrailerBlock"/>
                    <include name="checkPlayerTrailerBlock"/>
                </methods>
            </class>

            <class name="test.mainPageTest.PopoverTest">
                <methods>
                    <include name="checkPopover"/>
                </methods>
            </class>

            <class name="test.mainPageTest.PopularTest">
                <methods>
                    <include name="checkFirstNews"/>
                    <include name="checkPopularBlock"/>
                    <include name="checkNewsPopular"/>
                </methods>
            </class>

            <class name="test.mainPageTest.RecommendationsTest">
                <methods>
                    <include name="checkRegexRecommend"/>
                    <include name="checkHeaderRecommendBlock"/>
                    <include name="checkScroll"/>
                </methods>
            </class>


        </classes>
    </test>


    <test verbose="3" preserve-order="true" name="tests for mobile">
        <parameter name="platforms" value="mobile"/>
        <classes>

            <class name="test.mainPageTest.FilmTicketsTest">
                <methods>
                    <include name="checkRegexFilmTickets"/>
                    <include name="checkHeaderFilmTicketsBlock"/>
                    <include name="checkLabelTickets"/>
                </methods>
            </class>

            <class name="test.mainPageTest.NewTrailerTest">
                <methods>
                    <include name="checkRegexNewTrailer"/>
                    <include name="checkHeaderNewTrailerBlock"/>
                    <include name="checkPlayerTrailerBlock"/>
                </methods>
            </class>

            <class name="test.mainPageTest.PopularTest">
                <methods>
                    <include name="checkFirstNews"/>
                    <include name="checkPopularBlock"/>
                    <include name="checkNewsPopular"/>
                </methods>
            </class>

            <class name="test.mainPageTest.RecommendationsTest">
                <methods>
                    <include name="checkRegexRecommend"/>
                    <include name="checkHeaderRecommendBlock"/>
                </methods>
            </class>

        </classes>
    </test>

</suite>